.App {
  text-align: center;
}

.Display-Card {
  height: 150px;
}

/* .Card-Container {
  display: flex;
  flex-direction: row;
} */

.card {
  --card-width: 100px;

  margin-right: calc(25px - var(--card-width));
  float: left;
  
  width: var(--card-width);
  height: calc(var(--card-width) * 1.5);
  border: 0px solid black;
  background: white;
  border-radius: 5px;
}